---
import { navLinks, playlists, channelSubs } from '../utils/sidebarData';
import SidebarItem from "./SidebarItem.astro";

const { videoId } = Astro.params;
---
<div data-sidebar class:list={["basis-60 shrink-0 h-screen pt-16 overflow-y-auto w-60 -translate-x-60 md:translate-x-0 z-10 md:z-0 absolute md:static dark:bg-zinc-900 hidden md:block", { "md:absolute": videoId, "md:hidden": videoId}]}>
  <nav class="flex flex-col">
    <section class="flex flex-col p-4 border-b dark:border-zinc-600">
      { navLinks.map(link => (
          <SidebarItem text={link.text} route={link.route}>
            <span class="w-4 fill-zinc-200">
              <Fragment set:html={link.icon} /> 
            </span>
          </SidebarItem>
        ))
      }
    </section>
    <section class="flex flex-col p-4 border-b dark:border-zinc-600">
      {
        playlists.map(list => (
          <SidebarItem text={list.text} route={list.route}>
            <span class="w-4 fill-zinc-200">
              <Fragment set:html={list.icon} />
            </span>
          </SidebarItem>
        ))
      }
    </section>
    <section class="flex flex-col p-4 border-b dark:border-zinc-600">
      <h3>Subsriptions</h3>
      {
        channelSubs.map((channel) => (
          <SidebarItem text={channel.name} route={channel.route}>
            <img src={channel.avatar} class="w-6 rounded-md" />
          </SidebarItem>
        ))
      }
    </section>
  </nav>
</div>